# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\doing\Motor_detection\ht_background_augmentation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
